body {
  font-family: 'Times New Roman', Times, serif;
}

.jumbotron {
  background-color: yellow;
  border-radius: .3rem;
  padding: 1px 5px;
  margin: 10px 0px;
}

#footer {
  overflow: hidden;
  position: relative;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  background: #363839;
  color: #8c8989;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#logo-div {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-brand {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#offcanvas {
  background: #470047
}

.nav-link,
.dropdown-item {
  color: white
}

.nav-link.active {
  color: yellow;
}

.navbar-brand {
  color: white;
}

.dropdown-menu.show {
  background: #470047;
}

.correct {
  text-decoration: underline wavy blue 1px;
}